<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" ui-sref="app">pixelTracker</a>
            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse">

                <ul class="nav navbar-nav">
                    <li ng-class="{'active': activeHome()}"><a ui-sref="app">Home</a></li>
                    <li ng-class="{'active': activePixel()}"><a ui-sref="app.pixel">Create&amp;Track</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>