<div class="container" ng-controller="PixelCtrl">
    <div class="row row-content">
        <div class="page-header text-center">
            <h1>Create and track your pixels</h1>
        </div>
        <div class="col-sm-12">
            <form name="newPixelForm">
                <div class="input-group input-group-lg col-sm-12">
                    <input ng-model="pixelName" class="form-control" id="nameInput" name="nameInput"
                           placeholder="Enter a name or leave blank for default">
                    <span ng-if="pixelName > ''" ng-click="clearName()" class="glyphicon glyphicon-remove input-btn-inline"></span>
                    <div class="input-group-btn">
                        <button ng-click="createPixel()" ng-if="newPixelForm.nameInput.$dirty || !pixelCreated"
                                class="btn btn-success btn-lg btn-create" type="button">
                            Create
                        </button>
                        <button ng-if="pixelCreated && newPixelForm.nameInput.$pristine" class="btn btn-warning btn-lg btn-create"
                                type="button" ngclipboard data-clipboard-target="#nameInput">
                            Copy
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row row-content">
        <div class="col-sm-12">
            <table class="table table-striped table-hover pixel-table">
                <thead>
                <tr>
                    <th class="col-sm-3 hidden-xs">Pixel URL</th>
                    <th class="col-sm-5 col-xs-8">Name</th>
                    <th class="col-sm-4 col-xs-4">Current request count</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-row" ng-repeat="pixel in pixels">
                    <td class="col-sm-3 hidden-xs maxw-180px">
                        <div ng-show="!showInput" ng-click="toggleInputOn(this)">
                            {{currentHostTracking + pixel._id}}
                        </div>
                        <div ng-show="showInput">
                            <input type=text id="pixel-input-{{$index}}" ng-blur="toggleInputOff(this)"
                                   focus-on="focusInput" ng-value="currentHostTracking + pixel._id">
                            <a class="btn btn-mini btn-success btn-action btn-action-copy" ngclipboard
                               data-clipboard-target="#pixel-input-{{$index}}"
                               ngclipboard-success="onCopySuccess(e, this);" title="Copy pixel URL">
                                Copy
                            </a>
                        </div>
                    </td>
                    <td class="col-sm-5 col-xs-8">{{pixel.name}}</td>
                    <td class="col-sm-4 col-xs-4">
                        <span class="badge">{{pixel.req_count}}</span>

                        <div class="btn-group pull-right">
                            <a class="btn btn-mini btn-action" href="#" title="Pixel stats">
                                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                                <span class="sr-only">Pixel stats</span>
                            </a>
                            <a class="btn btn-mini btn-action" ng-click="removePixel(pixel._id)" title="Remove pixel">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                <span class="sr-only">Remove pixel</span>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>