<div class="container" ng-controller="PixelCtrl">
    <div class="row">
        <div class="page-header text-center">
            <h1>Create and track your pixels</h1>
        </div>
        <div class="col-sm-12">
            <div class="input-group input-group-lg col-sm-12`">
                <input ng-model="newPixel.name" class="form-control"
                       placeholder="Enter a name or leave blank for default">
                <span class="input-group-btn">
                    <button ng-click="createPixel()" class="btn btn-success btn-lg" type="button">Create</button>
                </span>
            </div>
        </div>
        <!--<a ng-model="getPixels()">get</a>-->
        <div class="col-sm-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Pixel ID</th>
                    <th>Name</th>
                    <th>Current request count</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-row" ng-repeat="pixel in pixels">
                    <td>{{pixel._id}}</td>
                    <td>{{pixel.name}}</td>
                    <td><span class="badge">{{pixel.req_count}}</span>
                        <div class="btn-group pull-right">
                            <a class="btn btn-mini btn-action" href="#"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span><span class="sr-only">Close</span></a>
                            <a class="btn btn-mini btn-action" href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span><span class="sr-only">Close</span></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>